{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "Warning",
      "Microsoft.Hosting": "Information"
    }
  },
  "Database": {
    "TestSource": "Data Source = ../db.sqlite"
  },
  "Security": {
    "TestHosts": "http://localhost:5070"
  }
}
