{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "Warning",
      "Microsoft.Hosting": "Information"
    }
  },
  "Database": {
    "TestSource": "Server=localhost; User ID=root; Password=root; Database=notes"
  },
  "Security": {
    "TestHosts": "http://localhost:5070"
  }
}