{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft": "Warning",
      "Microsoft.Hosting": "Information"
    }
  },
  "Database": {
    "TestSource": "Data Source = ../../db.sqlite"
  }
}